= render partial: 'shared/header'
- breadcrumb :personinfo
= render partial: 'shared/gretel'
.mypage-container-edit.shipping-edit
  .ide-container
    .identification-head
      %h1 発送元・お届け先住所変更
    .identification-container
      = form_for @shipping, class: 'l-single-inner registration-form', id: "registration-field" do |f|
        .l-single-container__content
          .form-group
            %div
              = f.label "お名前"    
              %span.form-require 必須
              = f.text_field :first_name, class: "input-default", placeholder: "例) 山田"
              = f.text_field :last_name, class: "input-default", placeholder: "例) 彩"
          .form-group    
            %div
              = f.label "お名前カナ"    
              %span.form-require 必須
              = f.text_field :first_kana, class: "input-default", placeholder: "例) ヤマダ"
              = f.text_field :last_kana, class: "input-default", placeholder: "例) アヤ"
          .form-group
            = f.label "郵便番号" 
            %span.form-require 必須
            = f.text_field :postal_code, class: "input-default", placeholder: "例) 123-4567"
          .form-group.prefecture
            = f.label "都道府県" 
            %span.form-require 必須
            %i.fa.fa-angle-down
            = f.select :prefectures, [ ["--", ""], ["北海道", "北海道"],["青森県", "青森県"], ["岩手県", "岩手県"],["4", "4"], ["5", "5"],["6", "6"], ["7", "7"],["8", "8"], ["9", "9"],["10", "10"], ["11", "11"], ["12", "12"], ["13", "13"],["14", "14"], ["15", "15"],["16", "16"], ["17", "17"],["18", "18"], ["19", "19"],["20", "20"], ["21", "21"],["22", "22"], ["23", "23"], ["24", "24"], ["25", "25"],["26", "26"], ["27", "27"],["28", "28"], ["29", "29"],["30", "30"], ["31", "31"]], class: "input-default"
          .form-group
            = f.label "市区町村" 
            %span.form-require 必須
            = f.text_field :city, class: "input-default", placeholder: "例) 横浜市緑区"
          .form-group
            = f.label "番地" 
            %span.form-require 必須
            = f.text_field :address, class: "input-default", placeholder: "例) 青山1-1-1"  
          .form-group
            = f.label "建物名" 
            %span.form-require.option 任意
            = f.text_field :building, class: "input-default", placeholder: "例) 柳ビル103"   
          .form-group
            = f.label "電話" 
            %span.form-require.option 任意
            = f.text_field :phone_number, class: "input-default", placeholder: "例) 09012345678"        
          .form-group
            = f.submit "変更する", class: "btn-default btn-red btn-shipping"
  = render "shared/sidebar"
= render 'shared/sell'
= render 'shared/aside_and_footer'

