= render partial: 'shared/header'
- breadcrumb :completed
= render partial: 'shared/gretel'
.mypage-container-status
  .sell-status-box
    .sell-status-list
      %h2.sell-status-list__head
        出品した商品
      %ul.sell-status-select
        %li.listing3
          = link_to listing_users_path, class: "listing3-link" do
            出品中
        %li.progress3
          = link_to progress_users_path, class: "progress3-link" do
            取引中
        %li.completed3
          = link_to completed_users_path, class: "completed3-link" do
            売却済み
      .status-detail3
    %ul.sell-status-pager3
      %li.sell-status-pager3-left
        = link_to progress_users_path, class: "to-listing3" do
          = fa_icon 'chevron-left', class: "chevron-left3"
      %li.sell-status-pager3-right
        = link_to listing_users_path, class: "to-progress3" do
          = fa_icon 'chevron-right', class: "chevron-right3"
  = render "shared/sidebar"
= render 'shared/sell'
= render 'shared/aside_and_footer'