= render partial: 'shared/header'
- breadcrumb :mypage
= render partial: 'shared/gretel'
.mypage-body
  .right-contents-block
    .right-contents-block__top
      .mypage-user-icon
      %h2.mypage-user-name
        #{current_user.nickname}
      .level-and-sell-score
        %span.eva
          評価 0
        %span.sell-score
          出品数 #{current_user.items.count}
    .right-contents-block__intro
      .level-detail
        .listing-level
          .listing-level-cover
            = fa_icon "camera", height: '24px', width: '24px', class: "listing-icon"
            .listing-count
              #{@listing_items.count}
        .completed-level
          .completed-level-cover
            = fa_icon "check-circle", height: '24px', width: '24px', class: "completed-icon"
            .completed-count
              #{@completed_items.count}
        .purchased-level
          .purchased-level-cover
            = fa_icon "get-pocket", height: '24px', width: '24px', class: "purchased-icon"
            .purchased-count
              #{@purchased_items.count}
      .intro-detail
        %p.intro-text
          #{current_user.introduction}
    .right-contents-block__bottom
      %ul.sns-box
        %li.face-book-block
          = link_to "#", class: "face-book-link" do
            = image_tag "face.png" , height: '44px', width: '44px', class: "face-book-icon"
        %li.twitter-block
          = link_to "#", class: "twitter-link" do
            = image_tag "tweet.png" , height: '44px', width: '44px', class: "twitter-icon"
        %li.line-block
          = link_to "#", class: "line-link" do
            = image_tag "line.png" , height: '44px', width: '44px', class: "line-icon"
  = render "shared/sidebar"
= render 'shared/sell'
= render 'shared/aside_and_footer'