= render partial: 'shared/header'
- breadcrumb :mypage
= render partial: 'shared/gretel'
.mypage-body
  = render 'shared/sidebar'
  .right-contents-block
= render 'shared/sell'
= render 'shared/aside_and_footer'
