= render partial: 'shared/header'
- breadcrumb :mypage
= render partial: 'shared/gretel'
.mypage-body
  .right-contents-block
  = render "shared/sidebar"
= render 'shared/sell'
= render 'shared/aside_and_footer'
