%body
  .single-container
    %header.single-container__header
      %h1
        = link_to new_user_registration_path, class: "logo" do
          =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195", size: "193x49", alt: "mercari"
       
    %main.single-container__main
      %section.l-single-container
        %h2.l-single-container__head.registration 新規会員登録
        .l-single-container__inner.registration-form
          .l-single-container__inner--content
            = link_to new_user_registration_path, class: "btn-default btn-mail" do
              %i.fa.fa-envelope
              %p メールアドレスで登録する 
            = link_to user_facebook_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-facebook" do
              %i.fa.fa-facebook-square
              %p Facebookで登録する
            = link_to user_google_oauth2_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-google" do
              %i.fa.fa-google
              %p Googleで登録する
    %footer.new-phone-footer
      %nav
        %ul
          %li
            = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/", class: "footer-list"
          %li
            = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/", class: "footer-list"
          %li
            = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/" , class: "footer-list list-bottom"
      = link_to root_path, class: "single-footer-logo" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195", size: "80x65", alt: "mercari",class: "footer-image"  
      %p
        %small ©︎2019 Mercari