= render partial: 'shared/header'
- breadcrumb :purchase
= render partial: 'shared/gretel'
.mypage-container-status
  .buy-status-box
    .buy-status-list
      %h2.buy-status-list__head
        購入した商品
      %ul.buy-status-select
        %li.purchase
          = link_to purchase_users_path, class: "purchase-link" do
            取引中
        %li.purchased
          = link_to purchased_users_path, class: "purchased-link" do
            過去の取引
      .status-detail4
    %ul.buy-status-pager
      %li.buy-status-pager-right
        = link_to purchased_users_path, class: "to-purchased" do
          = fa_icon 'chevron-right', class: "chevron-right4"
  = render "shared/sidebar"
= render 'shared/sell'
= render 'shared/aside_and_footer'
