.header
  .header__index
    .header__index__top
      .logo-box
        = link_to root_path, class: "mercari-s" do
          = image_tag 'mercari-logo.jpg', alt: 'mercari', height: '38px', width: '135px'

      .word-search
        = form_tag( "/items/item_search", method: :get ) do 
          = text_field_tag :name, "", class: "word-search__message", name: "name", placeholder: '何かお探しですか？'
          = button_tag "", class: "word-search__btn" do
            = fa_icon 'search', alt: 'search', width: '16px', height: '16px', class: 'search-icon'

    .header__index__bottom
      %nav.genre-search
        %ul.genre-search__nav
          %li.category-brand
            %h2.category-brand__btn
              = link_to "#", class: "category-brand__btn__link" do
                = fa_icon 'list', class: 'category-brand__btn__link__icon'
                %span カテゴリーから探す   
          %li.category-brand
            %h2.category-brand__btn
              = link_to "/items/pv_ranking", class: "category-brand__btn__link" do
                = fa_icon 'crown', class: 'category-brand__btn__link__icon'
                %span 商品PV数ランキング！
      - if user_signed_in?
        %ul.user-box
          %li.users-mypage
            = link_to users_path, class: "users-mypage__link" do
              = image_tag 'user-image.png', alt: 'user-image', width: '32', class: 'user-image'
              %span.mypage-text
                マイページ
      - else
        %ul.user-box
          %li.sign-up
            = link_to new_user_path, class: "sign-up__link" do
              新規会員登録
          %li.sign-in
            = link_to new_user_session_path, class: "sign-in__link" do
              ログイン
.category-list
  .parents-list
    - @parents.each do |parent|
      = link_to "#{parent.name}", "/categories/#{parent.id}", class: "patents-link",id: "#{parent.id}"
  .children-list
  .gchildren-list