.mypage-sidebar
  %ul.mypage-sidebar__box
    %li.mypage
      = link_to users_path, class:"side-list" do
        %p マイページ
        %i.fa.fa-chevron-right
    %li.exhibit
      = link_to new_item_path, class:"side-list" do
        %p 出品する
        %i.fa.fa-chevron-right
    %li.listing
      = link_to listing_users_path, class:"side-list" do
        %p 出品中の商品
        %i.fa.fa-chevron-right
    %li.completed
      = link_to completed_users_path, class:"side-list" do
        %p 売却済みの商品
        %i.fa.fa-chevron-right
    %li.purchased
      = link_to purchased_users_path, class:"side-list" do
        %p 購入商品履歴
        %i.fa.fa-chevron-right
    %li.setting 設定
    %li.profile
      = link_to profile_user_path(current_user.id), class:"side-list" do
        %p プロフィール
        %i.fa.fa-chevron-right
    %li.shipping
      = link_to edit_shipping_path(current_user.id), class:"side-list" do
        %p 発送元・お届け先住所変更
        %i.fa.fa-chevron-right
    %li.card
      = link_to cards_path, class:"side-list" do
        %p 支払い方法
        %i.fa.fa-chevron-right
    %li.mail
      = link_to edit_user_registration_path, class:"side-list" do
        %p メール/パスワード
        %i.fa.fa-chevron-right
    %li.identification
      = link_to edit_user_path(current_user.id), class:"side-list" do
        %p 本人情報
        %i.fa.fa-chevron-right
    %li.logout
      = link_to logout_users_path(current_user.id), class:"side-list" do
        %p ログアウト
        %i.fa.fa-chevron-right