.mypage-sidebar
  %ul.mypage-sidebar__box
    %li.mypage
      = link_to  "マイページ", users_path, class:"side-list"
    %li.todo
      = link_to  "やることリスト", "/", class:"side-list"
    %li.likelist
      = link_to  "いいね！一覧", likes_path, class:"side-list"
    %li.exhibit
      = link_to  "出品する", new_item_path, class:"side-list"
    %li.listing
      = link_to  "出品した商品 - 出品中", listing_users_path, class:"side-list"
    %li.progress
      = link_to  "出品した商品 - 取引中", progress_users_path, class:"side-list"
    %li.completed
      = link_to  "出品した商品 - 売却済み", completed_users_path, class:"side-list"
    %li.purchase
      = link_to  "出品した商品 - 取引中", purchase_users_path, class:"side-list"
    %li.purchased
      = link_to  "出品した商品 - 過去の取引", purchased_users_path, class:"side-list"
    %li.evaluation
      = link_to  "評価一覧", "/", class:"side-list"
    %li.setting 設定
    %li.profile
      = link_to  "プロフィール", profile_users_path, class:"side-list"
    %li.shipping
      = link_to  "発送元・お届け先住所変更", "/", class:"side-list"
    %li.card
      = link_to  "支払い方法", cards_path, class:"side-list"
    %li.mail
      = link_to  "メール/パスワード", "/", class:"side-list"
    %li.identification
      = link_to  "本人情報", edit_user_path(current_user.id), class:"side-list"
    %li.logout
      = link_to  "ログアウト", logout_users_path, class:"side-list"