= form_for @item do |f|
  .exhibit-wrape
    .exhibit-logo-field
      .exhibit-logo-box
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195", alt: "Image from Gyazo"
    .exhibit-head-field
      .exhibit-head-field__title
        商品の情報を入力
    .exhibit-image-field
      .exhibit-image-field__title
        出品画像
      .exhibit-image-field--required
        必須
      .exhibit-image-field__notice
        最大5枚までアップロードできます
      = f.fields_for :images  do |image|
        .exhibit-image-container
          .increase-images-box
          .exhibit-image-box
            #add-file-field-point
              #custom-data-for{'data-image-name': "hoge"}
                = image.label :image_url ,class:"box-click-label", for: "upload_file" do
                  = image.file_field :image_url, id:"upload_file", class: "image_upload_file", name: "item[images_attributes][0][image_url]", style: "display: none;"
                  %p.exhibit-drug ドラッグアンドドロップ 
                  %p.exhibit-click  またはクリックしてファイルをアップロード

    .exhibit-info-field
      .exhibit-info-field__label
        商品名
      .exhibit-info-field--required
        必須
      .exhibit-info-field__name
        = f.text_field :name, class: "input_item_name", placeholder: "商品名(必須40文字まで)"
      .exhibit-info-field__label
        商品の説明
      .exhibit-info-field--required
        必須
      .exhibit-info-field__discription
        = f.text_area :discription, class: "input_item_discription", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
    
    .exhibit-detail-field
      .exhibit-detail-field__gray-label
        商品の詳細
      .exhibit-detail-field__label
        カテゴリー
      .exhibit-detail-field--required
        必須
      .exhibit-detail-field__category
        = f.collection_select :category_id, @parents.all, :id, :name, prompt: "---", class: "input_item_category"         
      .hidden-category-second-field
        .hidden-category-second-field__box
          = f.collection_select :category_id, @parents.all, :id, :name, selected:["---", ""], class: "input_item_hidden"
      .hidden-category-third-field
        .hidden-category-third-field__box
          = f.collection_select :category_id, @parents.all, :id, :name, selected:["---", ""], class: "input_item_hidden"

      .hidden-size-field
        .hidden-size-field__gray-label
        .hidden-size-field__label
          サイズ
        .hidden-size-field--required
          必須
        .hidden-size-field__box
          = f.collection_select :size_id, @size, :id, :name, class: "input_item_size"
          -# [["---", ""], ["XXS以下", "XXS以下"],["XS(SS)", "XS(SS)"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL(LL)", "XL(LL)"], ["2XL(3L)", "2XL(3L)"], ["3XL(4L)", "3XL(4L)"], ["4XL(5L)以上", "4XL(5L)以上"], ["FREE SIZE", "FREE SIZE"]], 
      .hidden-brand-field
        .hidden-brand-field__gray-label
        .hidden-brand-field__label
          ブランド
        .hidden-brand-field--required
          任意
        .hidden-brand-field__box
          = f.collection_select :brand_id, @barand, :id, :name, class: "input_item_brand", placeholder: "例)シャネル"
      .exhibit-detail-field__gray-label
      .exhibit-detail-field__label
        商品の状態
      .exhibit-detail-field--required
        必須
      .exhibit-detail-field__status
        = f.select :status, [["---", ""], ["新品", "未使用"], ["未使用に近い"], ["目立った傷や汚れなし"], ["やや傷や汚れあり"], ["傷や汚れあり"], ["全体的に状態が悪い"]]
        = fa_icon "fa_angle_down"
    .exhibit-delivery-field
      .exhibit-delivery-field__gray-label
        配送について
      .exhibit-delivery-field__label
        配送量の負担
      .exhibit-delivery-field--required
        必須
      .exhibit-delivery-field__delivery
        = f.select :delivery_cost, [["---", ""], ["送料込み(出品者負担)"], ["着払い(購入者負担)"]], class: "input_item_delivery"
      .hidden-delivery-field
        .hidden-delivery-field__gray-label
        .hidden-delivery-field__label
          発送の方法
        .hidden-delivery-field--required
          必須
        .hidden-delivery-field__box
          = f.select :delivery_method, [["---", ""], ["未定"], ["らくらくメルカリ便"], ["ゆうメール"]], class: "input_item_delivery_method"
      .exhibit-delivery-field__gray-label
      .exhibit-delivery-field__label
        配送元の地域
      .exhibit-delivery-field--required
        必須
      .exhibit-delivery-field__delivery
        = f.select :delivery_area, [["---", ""], ["関東"], ["関西"], ["その他"]], class: "input_item_delivery"
      .exhibit-delivery-field__gray-label
      .exhibit-delivery-field__label
        発送までの日数
      .exhibit-delivery-field--required
        必須
      .exhibit-delivery-field__delivery
        = f.select :delivery_days, [["---", ""], ["1〜2日で発送"], ["2〜3日で発送"], ["4〜7日で発送"]], class: "input_item_delivery"

    .exhibit-price-field
      .exhibit-price-field__gray-label
        販売価格
        %span.exhibit-price-range (300〜9,999,999)
      .exhibit-price-field__label
        価格
      .exhibit-price-field--required
        必須
      .exhibit-price-field__mark
        ¥
      .exhibit-price-field__box
        = f.text_field :price, class: "input_item_price", placeholder: "例)300" 
      .exhibit-price-field__fee
        .exhibit-fee-label
          販売手数料(10%)
        .exhibit-fee-result
      .exhibit-price-field__profit
        .exhibit-profit-label
          販売利益
        .exhibit-profit-result
                
    .exhibit-button-field
      .button-text-area
        .button-text-area--one
          =link_to "禁止されている出品、行為", "/", class: "link-ban"
          を必ずご確認ください。
        .button-text-area--two
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          =link_to "偽ブランドの販売", "/", class: "link-ban"
          は犯罪であり処罰される可能性があります。
        .button-text-area--three
          また、出品をもちまして
          =link_to "加盟店規約", "/", class: "link-ban"
          に同意したことになります。
      .button-submit-area
        .button-submit-area__do
          - if request.path_info = edit_item_path
            = f.submit "更新する", class:"exhibit-submit-btn"
          - else 
            = f.submit "出品する", class:"exhibit-submit-btn"
        .button-submit-area__back
          =link_to "もどる", root_path, class: "exhibit-back-btn"
      .exhibit-foot-field
        .footer-menu
          .footer-menu__policy
            =link_to "プライバシーポリシー", "/", class: "link-foot"
          .footer-menu__terms
            =link_to "メルカリ利用規約", "/", class: "link-foot"
          .footer-menu__notation
            =link_to "特定商取引に関する表記", "/", class: "link-foot"
        .footer-logo
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994"
        .footer-copy
          @2019 Mercari