- other_items.each do |item|
  .other-item-box
    %a.other-item-box{href:"/items/#{item.id}"}
      .other-item-box__photo
        = image_tag item.images[0].image_url, width:"220px", height:"220px"
        .other-item-box__info
          .other-item-box__info__name
            = item.name
          .other-item-box__info__num
            .other-item-box__info__name__price
              = "¥#{item.price}"