.confirmation-page
  .confirmation-wrape
    .confirmation-logo-field
      .confirmation-logo-box
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195", alt: "Image from Gyazo"

    .confirmation-head-field
      .confirmation-head-field__title
        購入内容の確認
    
    .confirmation-content
      .confirmation-item-field
        .confirmation-item-area
          .confirmation-item-area__image
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994"
          .confirmation-item-area__name
            出品商品のタイトル

      .confirmation-price-field 
        .confirmation-price-area
          .confirmation-price-area__value
            ¥9999
            %span.postage-included 送料込み

      .confirmation-point-field
        .confirmation-point-area
          .confirmation-point-area__text
            ポイントはありません

      .confirmation-payment-field
        .confirmation-payment-area
          .confirmation-payment-area__label
            支払い金額
          .confirmation-payment-area__value
            ¥9999
      .confirmation-message-field
        配送先と支払いの方法を入力を完了してください
      .confirmation-button-field
        .confirmation-button-area
          .confirmation-button-area__buy
            =link_to "購入する", "", class: "confirmation-back-btn"

    .confirmation-shipping-addres
      .confirmation-addres
        .confirmation-addres__label
          配送先
        .confirmation-addres__post
          郵便番号
        .confirmation-addres__city
          住所
        .confirmation-addres__name
          名前
        .confirmation-addres__edit
          = link_to "変更する >","/", class: "confirmation-addres-btn"
    .confirmation-payment-method
      .confirmation-method
        .confirmation-method__label
          支払い方法
        .confirmation-method__card
          %p /
        .confirmation-method__edit
          = link_to "変更する >","/", class: "confirmation-edit-btn"

    .confirmation-foot-field
      .footer-menu
        .footer-menu__policy
          =link_to "プライバシーポリシー", "", class: "link-foot"
        .footer-menu__terms
          =link_to "メルカリ利用規約", "", class: "link-foot"
        .footer-menu__notation
          =link_to "特定商取引に関する表記", "", class: "link-foot"
      .footer-logo
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994"
      .footer-copy
        @2019 Mercari