:javascript
  $(function(){
    $('a[href^="#"]').click(function(){
      var speed = 250;
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top;
      $("html, body").animate({scrollTop:position}, speed, "swing");
      return false;
    });
  });

.wrapper
  = render 'shared/header'
  .body
    .body__contents
      %ul.slide-contents
        = image_tag 'mercari-slide.png', class: "slide-image"
      .popular-category-brand
        %h2.popular-title
          人気のカテゴリー
        .popular-category-brand__index
          %ul.popular-category-brand__index__box
            %li.category-brand-list
              = link_to "インテリア・住まい・小物", "#5", class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "メンズ", "#2", class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "家電・スマホ・カメラ", "#3", class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "本・音楽・ゲーム", "#4", class: "category-brand-list__link"
      .new-products
        .new-products-type
          .new-products-type__top
            %h3.theme{id: "5"}
              インテリア・住まい・小物新着アイテム
            = link_to "もっと見る ＞＞", "/categories/4", class: "look-more"
          .items-block
            - if @interior_items.present?
              - @interior_items.each do |item|
                .items-list
                  = link_to "/items/#{item.id}", class: "items-list-link" do
                    = image_tag item.images[0].image_url.url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
                    .items-detail
                      .items-price
                        %span.price-yen
                          #{converting_to_jpy(item.price)}
                      %h3.items-name
                        #{item.name}
            - else
              .nothing-block
                = fa_icon "ban", class: "nothing-block-icon"

        .new-products-type
          .new-products-type__top
            %h3.theme{id: "2"}
              メンズ新着アイテム
            = link_to "もっと見る ＞＞", "/categories/2",  class: "look-more"
          .items-block
            - if @mens_items.present?
              - @mens_items.each do |item|
                .items-list
                  = link_to "/items/#{item.id}", class: "items-list-link" do
                    = image_tag item.images[0].image_url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
                    .items-detail
                      .items-price
                        %span.price-yen
                          #{converting_to_jpy(item.price)}
                      %h3.items-name
                        #{item.name}
            - else
              .nothing-block
                = fa_icon "ban", class: "nothing-block-icon"

        .new-products-type
          .new-products-type__top
            %h3.theme{id: "3"}
              家電・スマホ・カメラ新着アイテム
            = link_to "もっと見る ＞＞","/categories/3" , class: "look-more"
          .items-block
            - if @appliance_items.present?
              - @appliance_items.each do |item|
                .items-list
                  = link_to "/items/#{item.id}", class: "items-list-link" do
                    = image_tag item.images[0].image_url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
                    .items-detail
                      .items-price
                        %span.price-yen
                          #{converting_to_jpy(item.price)}
                      %h3.items-name
                        #{item.name}
            - else
              .nothing-block
                = fa_icon "ban", class: "nothing-block-icon"

        .new-products-type
          .new-products-type__top
            %h3.theme{id: "4"}
              本・音楽・ゲーム新着アイテム
            = link_to "もっと見る ＞＞", "/categories/5", class: "look-more"
          .items-block
            - if @books_items.present?
              - @books_items.each do |item|
                .items-list
                  = link_to "/items/#{item.id}", class: "items-list-link" do
                    = image_tag item.images[0].image_url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
                    .items-detail
                      .items-price
                        %span.price-yen
                          #{converting_to_jpy(item.price)}
                      %h3.items-name
                        #{item.name}
            - else
              .nothing-block
                = fa_icon "ban", class: "nothing-block-icon"


      .popular-category-brand
        %h2.popular-title
          人気のブランド
        .popular-category-brand__index
          %ul.popular-category-brand__index__box
            %li.category-brand-list
              = link_to "シャネル", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "ルイヴィトン", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "シュプリーム", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "ナイキ", root_path, class: "category-brand-list__link"
      .new-products
        .new-products-type
          .new-products-type__top
            %h3.theme
              シャネル新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @chanel_items.each do |item|
              .items-list
                = link_to "/items/#{item.id}", class: "items-list-link" do
                  = image_tag item.images[0].image_url.url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}

        .new-products-type
          .new-products-type__top
            %h3.theme
              ルイヴィトン新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @vuitton_items.each do |item|
              .items-list
                = link_to "/items/#{item.id}", class: "items-list-link" do
                  = image_tag item.images[0].image_url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}

        .new-products-type
          .new-products-type__top
            %h3.theme
              シュプリーム新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @sup_items.each do |item|
              .items-list
                = link_to "/items/#{item.id}", class: "items-list-link" do
                  = image_tag item.images[0].image_url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}
        .new-products-type
          .new-products-type__top
            %h3.theme
              ナイキ新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @nike_items.each do |item|
              .items-list
                = link_to "/items/#{item.id}", class: "items-list-link" do
                  = image_tag item.images[0].image_url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}

  = render 'shared/sell'
  = render 'shared/aside_and_footer'



