.wrapper
  = render 'shared/header'  
  .body
    .body__contents
      %ul.slide-contents
        %li
          = image_tag 'camp.png', class: "slide-image"
        %li
          = image_tag 'slide-back.jpg', class: "slide-image"


      .popular-category-brand
        %h2.popular-title
          人気のカテゴリー
        .popular-category-brand__index
          %ul.popular-category-brand__index__box
            %li.category-brand-list
              = link_to "レディース", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "メンズ", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "家電・スマホ・カメラ", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "おもちゃ・ホビー・グッズ", root_path, class: "category-brand-list__link"
      .new-products
        .new-products-type
          .new-products-type__top
            %h3.theme
              レディース新着アイテム
            = link_to "もっと見る ＞＞", root_path, class: "look-more"
          .items-block
            - @ladies_items.each do |item|
              .items-list
                = link_to "#", class: "items-list-link" do
                  = image_tag item.images[0].image_url.url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}


        -# メンズ以下の人気カテゴリデータ作り次第召喚

        -# .new-products-type
        -#   .new-products-type__top
        -#     %h3.theme
        -#       メンズ新着アイテム
        -#     = link_to "もっと見る ＞＞",root_path,  class: "look-more"
        -#   .items-block
        -#     - @mens_items.each do |item|
        -#       .items-list
        -#         = link_to "#", class: "items-list-link" do
        -#           = image_tag item.images[0].image_url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
        -#           .items-detail
        -#             .items-price
        -#               %span.price-yen
        -#                 #{converting_to_jpy(item.price)}
        -#             %h3.items-name
        -#               #{item.name}
        -# .new-products-type
        -#   .new-products-type__top
        -#     %h3.theme
        -#       家電・スマホ・カメラ新着アイテム
        -#     = link_to "もっと見る ＞＞",root_path, class: "look-more"
        -#   .items-block
        -#     - @appliance_items.each do |item|
        -#       .items-list
        -#         = link_to "#", class: "items-list-link" do
        -#           = image_tag item.images[0].image_url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
        -#           .items-detail
        -#             .items-price
        -#               %span.price-yen
        -#                 #{converting_to_jpy(item.price)}
        -#             %h3.items-name
        -#               #{item.name}
        -# .new-products-type
        -#   .new-products-type__top
        -#     %h3.theme
        -#       おもちゃ・ホビー・グッズ新着アイテム
        -#     = link_to "もっと見る ＞＞",root_path, class: "look-more"
        -#   .items-block
        -#     - @toy_items.each do |item|
        -#       .items-list
        -#         = link_to "#", class: "items-list-link" do
        -#           = image_tag item.images[0].image_url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
        -#           .items-detail
        -#             .items-price
        -#               %span.price-yen
        -#                 #{converting_to_jpy(item.price)}
        -#             %h3.items-name
        -#               #{item.name}



      .popular-category-brand
        %h2.popular-title
          人気のブランド
        .popular-category-brand__index
          %ul.popular-category-brand__index__box
            %li.category-brand-list
              = link_to "シャネル", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "ルイヴィトン", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "シュプリーム", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "ナイキ", root_path, class: "category-brand-list__link"
      .new-products
        .new-products-type
          .new-products-type__top
            %h3.theme
              シャネル新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @chanel_items.each do |item|
              .items-list
                = link_to "/items/#{item.id}", class: "items-list-link" do
                  -# = link_to "/items/#{item.id}/edit", class: "items-list-link" do
                  -# = image_tag item.images[0].image_url.url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}

        .new-products-type
          .new-products-type__top
            %h3.theme
              ルイヴィトン新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @vuitton_items.each do |item|
              .items-list
                = link_to "#", class: "items-list-link" do
                  = image_tag item.images[0].image_url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}

        .new-products-type
          .new-products-type__top
            %h3.theme
              シュプリーム新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @sup_items.each do |item|
              .items-list
                = link_to "#", class: "items-list-link" do
                  = image_tag item.images[0].image_url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}
        .new-products-type
          .new-products-type__top
            %h3.theme
              ナイキ新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @nike_items.each do |item|
              .items-list
                = link_to "#", class: "items-list-link" do
                  = image_tag item.images[0].image_url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}

  = render 'shared/sell'
  = render 'shared/aside_and_footer'
