.wrapper
  .header
    .header__index
      .header__index__top
        .logo-box
          -# = link_to root_path do
          -# %img{scr: "merucari.jp", width: "134px", height: "36px", alt: "merucari"}
          -#   %a{href:"#"}
          = link_to root_path do
            = image_tag 'mercari-logo.jpg', alt: 'mercari', height: '38px', width: '135px'

        .word-search
          %form
            %input.word-search__message{type: "search", value:"", placeholder:"何かお探しですか？"}
            -# = link_to items_path do
            %button.word-search__btn{title: "検索", type: "submit"}
              = fa_icon 'search', alt: 'search', width: '16px', height: '16px', class: 'search-icon'

      .header__index__bottom
        %nav.genre-search
          %ul.genre-search__nav
            %li.category-brand
              %h2.category-brand__btn
                -# = link_to items path do
                = link_to "#", class: "category-brand__btn__link" do
                  = fa_icon 'list', class: 'category-brand__btn__link__icon'
                  %span カテゴリーから探す
            %li.category-brand
              %h2.category-brand__btn
                -# = link_to items path do
                = link_to "#", class: "category-brand__btn__link" do
                  = fa_icon 'tag', class: 'category-brand__btn__link__icon'
                  %span ブランドから探す
        .sign-box
          -# %ul.sign__box__acount
          -#   - if user_signed_in? && current_user
          -#     %li.like-list
          -#       %i.far.fa-heart
          -#       =link_to "いいね！一覧"
          -#     %li.info-list
          -#       %i.far.fa-bell
          -#       =link_to "お知らせ"
          -#     %li.todo-list
          -#       %i.fas.fa-check
          -#       =link_to "やることリスト"
          -#     %li.my-page

          -#       =link_to "マイページ"
          -#   - else
          -#     .sign__up
          -#   = link_to "新規会員登録", new_user_session_path
          -# .sign__in
          -#   = link_to "ログイン", registration_users_path
          -#   %end
          %li.sign-up
            -# = link_to "新規会員登録", new_user_session_path
            = link_to new_user_registration_path, class: "sign-up__link" do
              新規会員登録
          %li.sign-in
            -# = link_to "ログイン", registration_users_path
            = link_to new_user_session_path, class: "sign-in__link" do
              ログイン



  .body
    .body__contents
      .slide-contents
        = image_tag 'camp.png', alt: 'camp', height: '', width: '', class: 'camp'
      .popular-category-brand
        %h2.popular-title
          人気のカテゴリー
        .popular-category-brand__index
          %ul.popular-category-brand__index__box
            %li.category-brand-list
              = link_to "レディース", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "メンズ", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "家電・スマホ・カメラ", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "おもちゃ・ホビー・グッズ", root_path, class: "category-brand-list__link"
      .new-products
        .new-products-type
          .new-products-type__top
            %h3.theme
              レディース新着アイテム
            = link_to "もっと見る ＞＞", root_path, class: "look-more"
          .items-block
            - @ladies_items.each do |item|
              .items-list
                = link_to "#", class: "items-list-link" do
                  = image_tag item.images[0].image_url.url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}


        -# メンズ以下の人気カテゴリデータ作り次第召喚

        -# .new-products-type
        -#   .new-products-type__top
        -#     %h3.theme
        -#       メンズ新着アイテム
        -#     = link_to "もっと見る ＞＞",root_path,  class: "look-more"
        -#   .items-block
        -#     - @mens_items.each do |item|
        -#       .items-list
        -#         = link_to "#", class: "items-list-link" do
        -#           = image_tag item.images[0].image_url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
        -#           .items-detail
        -#             .items-price
        -#               %span.price-yen
        -#                 #{converting_to_jpy(item.price)}
        -#             %h3.items-name
        -#               #{item.name}
        -# .new-products-type
        -#   .new-products-type__top
        -#     %h3.theme
        -#       家電・スマホ・カメラ新着アイテム
        -#     = link_to "もっと見る ＞＞",root_path, class: "look-more"
        -#   .items-block
        -#     - @appliance_items.each do |item|
        -#       .items-list
        -#         = link_to "#", class: "items-list-link" do
        -#           = image_tag item.images[0].image_url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
        -#           .items-detail
        -#             .items-price
        -#               %span.price-yen
        -#                 #{converting_to_jpy(item.price)}
        -#             %h3.items-name
        -#               #{item.name}
        -# .new-products-type
        -#   .new-products-type__top
        -#     %h3.theme
        -#       おもちゃ・ホビー・グッズ新着アイテム
        -#     = link_to "もっと見る ＞＞",root_path, class: "look-more"
        -#   .items-block
        -#     - @toy_items.each do |item|
        -#       .items-list
        -#         = link_to "#", class: "items-list-link" do
        -#           = image_tag item.images[0].image_url, alt: 'items-image', height: '188px', width: '188px', class: 'items-image'
        -#           .items-detail
        -#             .items-price
        -#               %span.price-yen
        -#                 #{converting_to_jpy(item.price)}
        -#             %h3.items-name
        -#               #{item.name}



      .popular-category-brand
        %h2.popular-title
          人気のブランド
        .popular-category-brand__index
          %ul.popular-category-brand__index__box
            %li.category-brand-list
              = link_to "シャネル", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "ルイヴィトン", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "シュプリーム", root_path, class: "category-brand-list__link"
            %li.category-brand-list
              = link_to "ナイキ", root_path, class: "category-brand-list__link"
      .new-products
        .new-products-type
          .new-products-type__top
            %h3.theme
              シャネル新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @chanel_items.each do |item|
              .items-list
                = link_to "/items/#{item.id}", class: "items-list-link" do
                  -# = link_to "/items/#{item.id}/edit", class: "items-list-link" do
                  -# = image_tag item.images[0].image_url.url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}

        .new-products-type
          .new-products-type__top
            %h3.theme
              ルイヴィトン新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @vuitton_items.each do |item|
              .items-list
                = link_to "#", class: "items-list-link" do
                  = image_tag item.images[0].image_url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}

        .new-products-type
          .new-products-type__top
            %h3.theme
              シュプリーム新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @sup_items.each do |item|
              .items-list
                = link_to "#", class: "items-list-link" do
                  = image_tag item.images[0].image_url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}
        .new-products-type
          .new-products-type__top
            %h3.theme
              ナイキ新着アイテム
            = link_to "もっと見る ＞＞",root_path, class: "look-more"
          .items-block
            - @nike_items.each do |item|
              .items-list
                = link_to "#", class: "items-list-link" do
                  = image_tag item.images[0].image_url, alt: 'items-image', height: '184px', width: '184px', class: 'items-image'
                  .items-detail
                    .items-price
                      %span.price-yen
                        #{converting_to_jpy(item.price)}
                    %h3.items-name
                      #{item.name}




  .sell
    = link_to new_item_path ,class: "sell__link" do
      .sell__link-text
        出品
      = fa_icon "camera", alt: '出品', class: 'camera'



  .aside
    .aside__body
      .aside__body__left
        %h2.catch-phraze
          スマホでかんたんフリマアプリ
        %p.catch-phraze-2
          今すぐ無料ダウンロード！
        .appli-icon
          %figure
            = image_tag 'mercari.png', alt: 'mercari', height: '68px', width: '68px', class: 'mercari-box'
          %ul.store
            %li.store-icon
              = link_to "#", class: "store-icon__link" do
                = image_tag 'app-store.jpeg', alt: 'app-store', height: '40px', width: '140px', class: "store-icon__link__image"
            %li.store-icon
              = link_to "#", class: "store-icon__link" do
                = image_tag 'google-play.jpeg', alt: 'google-play', height: '40', width: '140px', class: "store-icon__link__image"
      %figure.aside__wrap__body__right
        = image_tag 'smart-phone.png', alt: 'smart-phone', height: '260px', width: '300px'



  .footer
    .footer__wrap
      .footer__wrap__top
        .about-box
          %h2.about-box__font
            メルカリについて
          %ul.about-box__index
            %li.about-box__index__list
              = link_to "会社概要（運営会社）", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "採用情報", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "プレスリリース", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "公式ブログ", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "メルカリロゴ利用ガイドライン", root_path, class: "about-link"
            %li.sns-icon
              %li.sns-icon__list
                = link_to "#", class: "sns-icon__list-link" do
                  = image_tag 'twitter.png', alt: 'twitter', height: '28', width: '31', class: 'twitter'
              %li.sns-icon__list
                = link_to "#", class: "sns-icon__list-link" do
                  = image_tag 'face-book.png', alt: 'face-book', height: '31', width: '31.5', class: 'face-book'
        .about__box
          %h2.about-box__font
            ヘルプ＆ガイド
          %ul.about-box__index
            %li.about-box__index__list
              = link_to "メルカリガイド", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "らくらくメルカリ便", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "ゆうゆうメルカリ便", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "大型メルカリ便", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "車体取引ガイド", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "メルカリあんしん・あんぜん宣言！", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "偽ブランド品撲滅への取り組み", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "メルカリボックス", root_path, class: "about-link"
        .about__box
          %h2.about-box__font
            プライバシーと利用規約
          %ul.about-box__index
            %li.about-box__index__list
              = link_to "プライバシーポリシー", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "メルカリ利用規約", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "あんしんスマホサポート制度に関する利用規約", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "コンプライアンスポリシー", root_path, class: "about-link"
        .about__box
          %ul.about-box__index
            %li.about-box__index__list
              = link_to "個人データ安全管理に係る基本方針", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "特定商取引に関する表記", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "資金決済法に基づく表示", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "法令順守と犯罪抑止のために", root_path, class: "about-link"
        .about__box
          %h2.about-box__font
            国
          %ul.about-box__index
            %li.about-box__index__list
              = link_to "日本", root_path, class: "about-link"
            %li.about-box__index__list
              = link_to "United States", root_path, class: "about-link"
      .footer__wrap__bottom
        = link_to "#", class: "mercari" do
          = image_tag 'mercari-logo2.jpeg', alt: 'mercari-logo2', height: '33px', width: '124px', class: 'mercari-logo2'
        %small
          © 2019 Mercari