= render partial: 'shared/header'

.itm-container
  .item-container
    .item-container__item-name
      = @item.name
    .item-container__item-main
      .item-container__item-main__photo
        .item-container__item-main__photo__act
          - @item.images.each do |item|
            = image_tag item.image_url, width:"300px", height:"300px"
        .item-container__item-main__photo__inact
          - @item.images.each do |item|
            = image_tag item.image_url, width:"60px", height:"60px"
      .item-container__item-main__detail
        %table
          %tr
            %th 出品者
            %td
              %a.seller{href:users_path}
                = @item.user.nickname
          %tr
            %th カテゴリー
            %td
              %a.first{href:"https://www.mercari.com/jp/"}
                = @item.category.parent.parent.name
              %br
              %a.second{href:"https://www.mercari.com/jp/"}
                = "＞#{@item.category.parent.name}"
              %br
              %a.third{href:"https://www.mercari.com/jp/"}
                = "＞#{@item.category.name}"
          - if @brand.present?
            %tr
              %th ブランド
              %td
                %a.brand{href:"https://www.mercari.com/jp/"}
                  = @item.brand.name
          %tr
            %th 商品のサイズ
            %td= @item.size.name
          %tr
            %th 商品の状態
            %td= @item.status
          %tr
            %th 配送料の負担
            %td= "#{@item.delivery_cost}円"
          %tr
            %th 配送の方法
            %td= @item.delivery_method
          %tr
            %th 配送元地域
            %td
              %a.area{href:"https://www.mercari.com/jp/"}
                = @item.delivery_area
          %tr
            %th 配送日の目安
            %td= @item.delivery_days
    .item-container__item-price
      .item-container__item-price__money
        = "¥#{@item.price}"
      .item-container__item-price__tax (税込)
      .item-container__item-price__shipping-fee 送料込み
    = link_to "購入画面へ進む", "/items/#{@item.id}/buy", class:"buybtn"
    .item-container__item-description
      .item-container__item-description__inner
        = @item.discription
    .item-container__fixbox
  -if @item.user_id == current_user.id
    .seller-box
      = link_to "商品の編集", edit_item_path, class:"editbtn"
      .seller-box__word or
      %a.btn{href: "～", onclick: "return false", class:"destroybtn"}この商品を削除する
  .messages
    .messages__content
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .messages__text
      %textarea{cols:"34", name:"text", rows:"4"}
    .messages__commentbtn
      %a.commentbtn{href:"https://www.mercari.com/jp/"}コメントする
  .recommended
    - if @seller_items.present?
      .recommended__seller-item
        .recommended__seller-item__head
          .seller-item
            出品者のその他の出品
        .recommended__seller-item__body
          = render partial:"seller-item-box", locals: {seller_items: @seller_items}
    - if @other_items.present?
      .recommended__other-item
        .recommended__other-item__head
          .other-item
            = "#{@item.category.parent.parent.name}のその他の出品"
        .recommended__other-item__body
          = render partial:"other-item-box", locals: {other_items: @other_items}

.destroybtn-page
  .destroybtn-box
    .destroybtn-box__note
      %h1 確認
      %p 削除すると二度と復活できません。
      %p 本当に削除しますか？
    .destroybtn-box__btn
      .destroybtn-box__btn__close
        = link_to "キャンセル", item_path, onclick: "return false", class:"btn-close"
      .destroybtn-box__btn__done
        = link_to "削除する", item_path, class:"btn-done", method: :delete