.itm-container
  .item-container
    .item-container__item-name
      = @item.name
      
    .item-container__item-main
      .item-container__item-main__photo
        .item-container__item-main__photo__act
          - @item.images.each do |image|
            = image_tag image.image_url, width:"300px", height:"300px"
        -# .item-container__item-main__photo__inact
        -#   - @item.images.each do |image|
        -#     = image_tag image.image_url, width:"60px", height:"60px"

      .item-container__item-main__detail
        %table
          %tr
            %th 出品者
            %td
              %a.seller{href:users_path}
                = @item.user.name
              .rate-icon
                .rate-icon__good
                  = image_tag "/assets/rateicon1.jpg", class:"rate-icon"
                %p.rate-count 1
                .rate-icon__fair
                  = image_tag "/assets/rateicon2.jpg", class:"rate-icon"
                %p.rate-count 1
                .rate-icon__bad
                  = image_tag "/assets/rateicon3.jpg", class:"rate-icon"
                %p.rate-count 1
          %tr
            %th カテゴリー
            %td
              %a.first{href:"https://www.mercari.com/jp/"}
                = @item.category.name
              %br
              %a.second{href:"https://www.mercari.com/jp/"}
                = "＞#{@item.category.name}"
              %br
              %a.third{href:"https://www.mercari.com/jp/"}
                = "＞#{@item.category.name}"
          %tr
            %th ブランド
            %td
              %a.brand{href:"https://www.mercari.com/jp/"}
                = @item.brand.name
          %tr
            %th 商品のサイズ
            %td= @item.size.name
          %tr
            %th 商品の状態
            %td= @item.status
          %tr
            %th 配送料の負担
            %td= "#{@item.delivery_cost}円"
          %tr
            %th 配送の方法
            %td= @item.delivery_method
          %tr
            %th 配送元地域
            %td
              %a.area{href:"https://www.mercari.com/jp/"}
                = @item.delivery_area
          %tr
            %th 配送日の目安
            %td= @item.delivery_days
    .item-container__item-price
      .item-container__item-price__money
        = "¥#{@item.price}"
      .item-container__item-price__tax (税込)
      .item-container__item-price__shipping-fee 送料込み
    %a.buybtn{href:"https://www.mercari.com/jp/"}購入画面に進む
    .item-container__item-description
      .item-container__item-description__inner
        = @item.discription
    %a.item-container__item-btn{href:"https://www.mercari.com/jp/"}
      .item-container__item-btn__like
        %i.fa.fa-heart いいね!
      .item-container__item-btn__count 1
    .item-container__fixbox
  .messages
    .messages__content
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .messages__text
      %textarea{cols:"34", name:"text", rows:"4"}
    .messages__commentbtn
      %a.commentbtn{href:"https://www.mercari.com/jp/"}コメントする
  .media-box
    .icons
      %a.icon-facebook{href:"https://www.mercari.com/jp/"}
        = image_tag "/assets/icon1facebook.jpg", class:"media-box-icon"
      %a.icon-twitter{href:"https://www.mercari.com/jp/"}
        = image_tag "/assets/icon2twitter.jpg", class:"media-box-icon"
      %a.icon-line{href:"https://www.mercari.com/jp/"}
        = image_tag "/assets/icon3line.jpg", class:"media-box-icon"
      %a.icon-pinterest{href:"https://www.mercari.com/jp/"}
        = image_tag "/assets/icon4pinterest.jpg", class:"media-box-icon"
  .recommended
    .recommended__seller-item
      .recommended__seller-item__head
        %a.seller-item{href:"https://www.mercari.com/jp/"}出品者のその他の出品
      .recommended__seller-item__body
        = render partial:"seller-item-box", locals: {seller_items: @seller_items}
    -# .recommended__other-item
    -#   .recommended__other-item__head
    -#     %a.other-item{href:"https://www.mercari.com/jp/"}カテゴリーのその他の出品
    -#   .recommended__other-item__body
    -#     = render partial:"other-item-box", locals: {other_items: @other_items}