= render partial: 'shared/header'
.mypage-container-cards
  .cre-container
    .cards-head
      %h1 支払い方法
    .cards-container
      %h2 クレジットカード一覧
      - if @card.present?
        .cards-container__info
          = form_tag("/cards/#{@card.id}", method: :delete, local: true, id: 'charge-form') do
            .cards-container__info__num
              = "**** **** **** " + @card_information.last4
            .cards-container__info__exp
              - exp_month = @card_information.exp_month.to_s
              - exp_year = @card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            = submit_tag "削除する", class: "destroycardbtn"
      - else
        .cards-container__regi
          = link_to new_card_path, class: "regibtn" do
            %p カード登録する
  = render 'shared/sidebar'